@font-face{
    font-family: "Cotham";
    src : url("/assets/CothamSans.otf") format("opentype");
}

@font-face{
    font-family: "Office_code_pro";
    src : url("/assets/OfficeCodePro-Light.otf") format("opentype");
}

html {
    margin: 10px;
    overflow: hidden;
    cursor: crosshair;
}

body {
    margin: 9px;
    background-color: whitesmoke;
    overflow: hidden;
}

a{
    text-decoration: none;
    color: black;
}

img{
    z-index: -1;
    width: 100%;
    height: auto;
    position: relative;   
}

video{
    z-index: -1;
    width: 100%;
    height: auto;
    position: relative;
}

.cross {
    max-height: 0px; 
    width: auto;
}

.custom-cursor {
    z-index: 20000;
    width: 17px;
    height: 17px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    position: absolute;
    pointer-events: none; /* Empêche le curseur personnalisé d'interférer avec les éléments de la page */
    transform: translate(-50%, -50%);
}

.parent {
    font-family: Office_code_pro;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Deux colonnes égales */
    grid-template-rows: 1fr 1fr; /* Deux rangées égales */
    border: 2px solid black;
    border-radius: 0px 0px 20px 20px;
    height: 92vh;
}

.child {
    border-right: 2px solid black;
}

.childto {
    font-family: Cotham;
    overflow: auto;
    font-size: 5rem;
    border-right: 2px solid black;
    grid-row: 1 / span 2; /* Utilise deux rangées */
}

.childtree {
    display: flex;
    justify-content: center; 
    align-items: center; 
}


.h3-container {
    display: flex;
    flex-direction: column;
}

h3 {
    font-size: 5vw;
    margin: 0;
    padding: 10px; 
    border-bottom: 2px solid black;
    display: flex;
    align-items: center; 
    transition: height 10.1s ease; 
}


h3:hover {
    height: 12vh; 
}

.flex-container {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.responsive-image {
    max-height: 110%;
    width: auto;
    min-width: 100%;
}

.childtree {
    position: relative;
    overflow: hidden;
    max-width: 100%;
}

.intro{
    padding: 100px;
    font-size: large;
}






/* ------------------------------------------------------------------------- */

/* css project pages */

.contenu {
    font-family: Office_code_pro;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border: 2px solid black;
    border-radius: 0px 0px 20px 20px ; /* Ajustez cette valeur pour changer le rayon des coins */
    height: 92vh;
}

.flex-contain {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: normal;
    align-content: normal;
    border-bottom: 2px solid black;
    height: 50vh;
}

.flex-items {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.data-container {
    display: flex;
    flex-direction: column;
}

.data-explain{
    height: 50vh;
    padding-top: 3vh;
    padding-right: 5vh;
    padding-left: 5vh;
    text-align: justify;
}

.data-img{
    height: 98vh;
    overflow: auto;
    border-left: 2px solid black; 
}

.intro{
    text-align: justify;
    top: 0;
    margin: 0;
    padding-top: 2vh;
    padding-left: 25%;
    padding-right: 4vw;
}

.flex-Parent {
    font-family: Office_code_pro;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr; 
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-radius: 20px 20px 0px 0px;
    height: 5vh;
}

.column {
    top: 0;
    font-size: 0.8rem;
    text-align: center;
}

#image{
    border-radius: 0px 0px 20px 0px;
}

